# Папки сборки PyInstaller
dist/
build/

# Исполняемые файлы
*.exe

# Временные файлы Python
__pycache__/
*.py[cod]

# Конфиденциальные данные (пароли SSH и IP)
settings.json

# Файлы спецификации сборки
*.spec