# Виртуальные окружения (САМОЕ ВАЖНОЕ)
.venv/
venv/

# Кэши Python
__pycache__/
*.py[cod]

# Логи и временные файлы
debug.log
temp_download.cfg
*.log
*.tmp

# Локальные настройки (пароли, пути)
settings*.json

# Сборка PyInstaller
dist/
build/
*.exe
*.spec