# Папки сборки PyInstaller
dist/
build/
mac/dist/
mac/build/

# Исполняемые файлы
*.exe
*.dmg

# Временные файлы Python
__pycache__/
*.py[cod]

# Конфиденциальные данные (все файлы настроек)
settings*.json

# Файлы спецификации сборки
*.spec
win/pyqt6/debug.log
